body {
    background-color: #eee;
  }

  .marginTop {  
    margin-top: 20px;         
    padding: 20px;
  }

  .marginside {  
    margin-left: 100px;         
    margin-right: 100px;
  }
  .product-title{
    /* color: #acd83a !important; */
    font-size:200%;
  font-weight: bold;
}
.center{
  text-align:center;
}